h3 Save Output

.form-line
    .header
        .title Save Output
        .description Automatically save streamed output of all input commands and responses

    .form-group
        toggle(
            [(ngModel)]='config.enabled',
            (ngModelChange)='save()',
        )
        .description Enable output streaming

    .form-group(*ngIf='config.enabled')
        toggle(
            [(ngModel)]='config.sshOnly',
            (ngModelChange)='save()',
        )
        .description Only save SSH session output

    .form-group(*ngIf='config.enabled')
        .input-group
            input.form-control(
                type='text',
                [(ngModel)]='config.databasePath',
                (ngModelChange)='save()',
                placeholder='SQLite database path'
            )
        .description SQLite database file location
