h3 Save Output
p Automatically save streamed output of all input commands and responses

.form-line
    .header
        .title
            h3 Save Output
            p Automatically save streamed output of all input commands and responses

    .form-group
        toggle(
            [(ngModel)]='config.store.saveOutput.autoSave',
            (ngModelChange)='config.save()',
        )
        .form-label Enable output streaming

    .form-group(*ngIf='showDatabaseInfo()')
        .form-line
            .header
                .title
                    h4 Database Information
                    p Configure database connection settings

            .form-group
                .input-group
                    .input-group-prepend
                        .input-group-text Database Name
                    input.form-control(
                        type='text',
                        [(ngModel)]='config.store.saveOutput.dbName',
                        (ngModelChange)='config.save()',
                    )

            .form-group
                .input-group
                    .input-group-prepend
                        .input-group-text Host
                    input.form-control(
                        type='text',
                        [(ngModel)]='config.store.saveOutput.dbHost',
                        (ngModelChange)='config.save()',
                    )

            .form-group
                .input-group
                    .input-group-prepend
                        .input-group-text Username
                    input.form-control(
                        type='text',
                        [(ngModel)]='config.store.saveOutput.dbUser',
                        (ngModelChange)='config.save()',
                    )

            .form-group
                .input-group
                    .input-group-prepend
                        .input-group-text Password
                    input.form-control(
                        type='password',
                        [(ngModel)]='config.store.saveOutput.dbPassword',
                        (ngModelChange)='config.save()',
                    )
