.form-line
    .form-group
        .form-line
            .header
                .title Save Output Settings
                .description Configure output saving options

        .form-line
            .header
                .title Automatic Save
                .description Configure automatic output saving
            toggle(
                [(ngModel)]='config.store.saveOutput.autoSave',
                (ngModelChange)='config.save()'
            )

        .form-line(*ngIf='config.store.saveOutput.autoSave')
            .header
                .title Save Output Type
                .description Choose where to save output
            select(
                [(ngModel)]='config.store.saveOutput.database.type',
                (ngModelChange)='config.save()'
            )
                option(value='file') File System
                option(value='sqlite') SQLite Database

        .form-line(*ngIf='config.store.saveOutput.autoSave && config.store.saveOutput.database.type === "sqlite"')
            .header
                .title Database Settings
                .description Configure SQLite database settings

            .form-group
                .row
                    .col
                        .input-group
                            .input-group-addon Database Path
                            input.form-control(
                                type='text',
                                [(ngModel)]='config.store.saveOutput.database.path',
                                (ngModelChange)='config.save()',
                                readonly
                            )
                            button.btn.btn-secondary((click)='pickDatabasePath()')
                                i.fas.fa-folder-open

                .row
                    .col
                        .input-group
                            .input-group-addon Database Name
                            input.form-control(
                                type='text',
                                [(ngModel)]='config.store.saveOutput.database.name',
                                (ngModelChange)='config.save()'
                            )

                .row
                    .col
                        .form-line
                            .header
                                .title Create New Database
                                .description Create a new SQLite database with required tables
                            toggle(
                                [(ngModel)]='config.store.saveOutput.database.createNew',
                                (ngModelChange)='onCreateNewDatabaseChange()'
                            )

                .row
                    .col
                        button.btn.btn-primary((click)='testDatabaseConnection()')
                            i.fas.fa-database.mr-2
                            span Test Connection
